body{
	background-color: white;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

#sortable, #sortable2 { 
	list-style-type: none; 
}

#sortable, #sortable2 li {
	font-size: 1.4em; 
}
	
#containment-wrapper { 
	margin: 0 auto; 
	width: 65%; 
	height:1500px;
	padding: 10px;
	box-shadow: 1px 1px 30px #ddd;
}

.ui-state-defaults{
	margin: 0 auto;
	width: 90%;
}
	
.italics {
	box-sizing: border-box;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	border: 3px solid #4698FF;
	padding: 20px;
	border-radius: 12px;
	font-size: .8em;
	color: #555;
	margin: 0 auto;
	width: 100%;
	line-height: 1.3em;
}

.italics:hover{
	border: 3px solid #4698FF;
	color: #222;
}

.container-fluid {
 	min-height:95%;
}

.navigation{
	height: 60px;
	line-height: 60px;
	background-color: #4698FF;
	box-shadow: 1px 1px 2px #ddd;
}

.logo-img{
	display: inline-block;
	height: 48px;
	vertical-align: middle;
}

.links{
    float: right;
    margin: 0;
    overflow: hidden;
}

.links ul{
    margin: 0;
    padding: 0;
}

.links ul li {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.links > ul > li > a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    padding-right: 15px;
}

#editor{
	background-color: white;
	box-shadow: 1px 1px 50px #ddd;
	border-radius: 10px;
	padding: 30px;
	margin: 10px;
	outline: none;
}

#editor h1{
	margin-bottom: 15px;
	color: #4698FF;
	text-align: left;
}

#swag{
	border: 3px solid #4698FF;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	width: 800px;
	height: 200px;
	margin: 0px,auto;
	font-size: 1em;
	outline: none;
}

button {
	background-color: #4698FF;
	color: White;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 800;
	margin: 5px;
	padding: 3px 20px 3px 20px;
	border: none;
	border-radius: 8px;
	outline: none;

}

.delbut{
	position: absolute;
	box-sizing: border-box;
	border: 3px solid #FF4646;
	background-color: white;
	padding: 0px;
	height: 16px;
	width: 16px;
	right:5;
	top: 5;
}

.delbut:hover{
	position: absolute;
	background-color: #FF4646;
	padding: 0px;
	width: 16px;
	right:5;
	top: 5;
}

.addbut{
	background-color: #DBEBFF;
	height: 16px;
	width: 100%;
	padding: 0px;
	margin: 10px 0px;
}

.addbut:hover{
	background-color: #4698FF;
}

