<!DOCTYPE html>
<html lang="en">

<head>
	<title>LegalGen</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'attorney/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<style>
	#sortable, #sortable2 { list-style-type: none; margin: 0; padding: 0; width: 60%;}
  	#sortable, #sortable2 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px;}
  /*#sortable li p button { position: absolute; margin-left: 4.3em; }*/
	#containment-wrapper { width: 95%; height:1500px; border:2px solid #ccc; padding: 10px;}
	</style>
	<link rel="stylesheet" type="text/css" href="django423/mysite/attorney/templates/attorney/bower_components/simditor/styles/simditor.scss" />

	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simple-module/lib/module.js"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simple-hotkeys/lib/hotkeys.js"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simple-uploader/lib/uploader.jss"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simditor/lib/simditor.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		//regular sortable
   	$(function() {
    $( "#finaldoc" ).load( "header.html #swaggie");

    });

  </script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src= 'scale.png' class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1>LegalGen</h1>
				  </center>
			  </div>
		</div>

		<div>
		  <div id = "finaldoc">

          </div>
        </div>

