<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LegalGen </title>
		<meta charset="utf-8" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
		<link rel="stylesheet" href="../../../mysite/static/css/reset.css">
		<link rel="stylesheet" href="/resources/demos/style.css">
		<link rel="stylesheet" href="../../../mysite/static/css/Attorney.css">
		<script>
			$(function() {
			$(".newDocument").on("click", function(){ //TODO load a new document
        });
		});
		</script>
	</head>
	<body>
		<div class= "navigation">
			<img src= 'LegalGenLogoBlue.png' class="logo-img" alt="face">
			<div class="links">
			 	<ul class="nav nav-pills nav-stacked">
					<li><a href='/blog/'>Pricing</a></li>
					<li><a href='/contact/'>Partners</a></li>
					<li><a href='/'>Get Started</a></li>						
					<li><a href='/blog/'>Login</a></li>
			 	</ul>
			</div>
		</div>
		<div id = "dashboardHeader">
			<h1 class = "blueDoc">Name of Law Firm</h1>
			<button class="newDocument"></button>
		</div>
		<div class = "DocCard">
			<h2 class = "blueDoc">Title of Doc</h2>
			<h4>num of questions</h4>
			<h4 class = "options">num of questions</h4>
		</div>
	</body>
	<footer>
		<div class="socialLinks">
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
		<div id = "Disclaimer">
			<p>© LegalGen.com, Inc. All rights reserved. <br>
			Disclaimer: Communications between you and LegalGen are protected by our Privacy Policy but not by the attorney-client privilege or as work product. LegalGen provides access to independent attorneys and self-help services at your specific direction. We are not a law firm or a substitute for an attorney or law firm. We cannot provide any kind of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses, options, selection of forms or strategies. Your access to the website is subject to our Terms of Use.</p>
		</div>
	</footer>		
</html>
Copyright 2018