{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>LegalGen </title>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/Attorney.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/form-builder.min.js' %}"></script>
    <script src="{% static 'js/form-render.min.js' %}"></script>
    <script>
        //TODO move this to a seperate file
        $(function () {
            $(window).scrollTop(0);

        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container-fluid">
    <div class="navigation" style="box-shadow: 2px 5px 15px -1px #777; border-radius:5px;">
        <img src="{% static 'img/LegalGenLogoBlue.png' %}" class="logo-img" alt="face">
        <div class="links">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href='https://waylon1.typeform.com/to/m74c5U'>Report a Bug</a></li>
                <li><a href="https://jachiike-madubuko.github.io/legal_gen/">Github</a></li>
                <li><a href="/">Logout</a>
            </ul>
        </div>
    </div>
    <div class='container-fluid' id="containment-wrapper" style="height: auto">
        <br><br>
        <!-- {% block content %} -->
        <!-- {% endblock %} -->
        <div id="sortable">
            <div id="fb-editor"></div>
            <div id="fb-rendered-form">
                <form action="#"></form>
                <button class="btn btn-default finish">Finish</button>

                <button class="btn btn-default edit-form">Edit</button>
            </div>
            <script>

                jQuery(function ($) {
                    var $fbEditor = $(document.getElementById('fb-editor')),
                        $formContainer = $(document.getElementById('fb-rendered-form')),
                        fbOptions = {
                            onSave: function () {
                                $fbEditor.toggle();
                                $formContainer.toggle();
                                $('form', $formContainer).formRender({
                                    formData: formBuilder.formData
                                });
                            }
                        },
                        formBuilder = $fbEditor.formBuilder(fbOptions);

                    $('.edit-form', $formContainer).click(function () {
                        $fbEditor.toggle();
                        $formContainer.toggle();
                    });
                    $('.finish', $formContainer).click(function () {
                        $.getJSON('/save_form', {formData: formBuilder.formData}, function (result) {
                        });
                        window.location.replace("{% url 'doc_editor' %}");
                    });
                });
            </script>
            <style type="text/css">
                html,
                body {
                    height: 100%
                }

                #fb-rendered-form {
                    clear: both;
                    display: none;
                }

                button {
                    float: right;
                }
            </style>
        </div>
    </div>

</div> <!--col-sm-2-->
<footer>
    <div class="container-fluid">

        <p><a href="#" target="blank">Contact</a> | <a href="#" class="fa fa-linkedin"></a> | <a href="#"
                                                                                                 class="fa fa-twitter"></a>
            |<a href="#" class="fa fa-google"></a> | <a href="https://github.com/jachiike-madubuko/legal_gen">Github</a>
        </p>
    </div>

</footer>

</body>

</html>
<div id="dis">Copyright 2018 Legal Gen Incorporated. Legal Gen provides information and software only.
    Legal Gen is not a "lawyer referral service" and does not provide legal advice or participate in any legal
    representation. Legal Gen is not a law firm or a substitute for an attorney or law firm. Use of Legal Gen is subject
    to our Terms of Service and Privacy Policy.
</div>

<head>
    <title>LegalGen</title>
    <meta charset="utf-8"/>
    <!-- {% load staticfiles %} -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        html,
        body {
            height: 100%
        }
    </style>
</head>

