
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>LegalGen </title>
	<meta charset="utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'css/Attorney.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'js/doc.js' %}"></script>
	<script>
        $(function () {
            var delete_button = $("#del");
            var edit_box = $("editor");
            var logic_edit_box = $(".logicedit");
            var live = $("#live");
            var piece_adder = $("#addbox");
            var merge_templates = $("#merge");
            var final_page = $("#final");
            var question_box = $("#qbox");
            var movable_pieces = $(".ui-state-defaults");
            var sortable = $("#sortable");
   	    $(window).scrollTop(0);
            delete_button.hide();
            edit_box.hide();  //keeps the editor out of site until a DocPiece(DP) is clicked
            question_box.hide();
            merge_templates.hide();

		$("#qList li").css({"float": "left", "box-shadow": "1px 1px 50px #ddd",
	"border-radius": "10px", "padding": "10px", "margin": "10px"});

        // will eventually be a django front live editor.
        //this defines the characteristic of the draggable blocks
            movable_pieces.not(".addbut", ".t").draggable({
            axis: "y", containment: "#containment-wrapper", scroll: false, scrollSensitivity: 100
        });

        //this defines characteristics of the sort area
		//TODO replace with https://jqueryui.com/accordion/#sortable
            sortable.sortable({
            axis: "y",
            revert: false,
			placeholder: "ui-state-highlight",
        });
        //TODO fix with https://jqueryui.com/sortable/#placeholder
        $("ui-state-highlight").addClass("ui-state-defaults");


            sortable.disableSelection();

       //TODO integrate below for merge fields
		// $( "#draggable" ).draggable({
    //   connectToSortable: "#sortable",
    //   helper: "clone",
    //   revert: "invalid"
    // });
        // this defines the characteristics of the dialog box for editting
        //will be abstracted into a django front end editor in future
       var dialog = $( "#editor" ).dialog({
		  autoOpen: false,
		  height: 425,
		  width: 900,
		  modal: true,
		  buttons: {
		    "Merge Fields": function() {        //clicking the done button sends current input to the DocPiece
                merge_templates.dialog("open");
			},
			"Done": function() {        //clicking the done button sends current input to the DocPiece
				var editted = $("#swag").val();
				$(".small").html( editted);      //class::small is used to keep track of which DocPiece is being editted
				$(".small").removeClass("small");
				dialog.dialog( "close" );

                merge_templates.dialog("close");
			},
			Cancel: function() {
			  dialog.dialog( "close" );
                merge_templates.dialog("close");
			}
		  }
    });

            merge_templates.dialog({
		modal: false,
		autoOpen:false,
		width: 185,
		position: {
        my: "right center",
        at: "left center",
        of: "#editor",
        collision: "none",
        }
	});

  // Initializes all textareas with the tinymce class
   	 $( ".italics" ).dblclick( function() { //class::italics given to the DP to make editable
   	     $(this).addClass("small");         //class::small tracking which DP is being updated
   	     var  old = $(".small").html();
         $("#swag").val(old);
      dialog.dialog( "open" );
    });

   	 //functionality of delete button
$("#sortable li").on('click', '.delbut', function(event) {
    $(this).parent().parent().remove();
});

//decide the kind of DP

//functionality for the add button. Will be generalized for all DPs
$(".addbut").on("click", function(){ //TODO add a dialog box that asks which DP is being added
    //newbie will be changed to be content based on the type of DP selected by user
	//TODO add accordian effect

	$(this).addClass("A");

	// http://jqueryui.com/accordion/#sortable
    piece_adder.dialog({
      autoOpen: false,
      position: {
        my: "left center",
        at: "right center",
        of: ".A",
        collision: "none"
        },
		width: 225,
		height: 380,
      show: {
        effect: "fade",
        duration: 500
      },
         hide: {
        effect: "fade",
        duration: 500
      },
     buttons: {
			Cancel: function() {
                piece_adder.dialog("close");
			}
		  }
    });
    piece_adder.dialog("open");
	//add dialog to determine which docPiece and then create newbie
        });
$("#newDP").on('click', function(){
	    var newbie ="<li class='ui-state-defaults'><p class = 'medium'></p><p class = 'italics ui-state-default'> Blank DocPiece </p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";

	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
    piece_adder.dialog("close");
	     $(".A").removeClass("A");
    });
	$("#witS").on('click', function(){
	    var newbie ="<li class='ui-state-defaults'><p class = 'medium'></p><p class = 'italics ui-state-default witdent'> Witness Signature: ________________________________ <br> Name: ____________________<br> Address: ____________________<br> City: ____________________<br> State: ____________________<br> Phone Number: ____________________<br> Email: _____________________</p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";

	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        piece_adder.dialog("close");
	     $(".A").removeClass("A");
    });

	$("#testS").on('click', function(){
	    var newbie ="<li class='ui-state-defaults'><p class = 'medium'></p><p class = 'italics ui-state-default witdent'>Testator Signature: ________________________________ <br> {Applicant.FullName}&emsp;&emsp;&emsp;&emsp;</p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";
	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        piece_adder.dialog("close");
	     $(".A").removeClass("A");
    });

	$("#secH").on('click', function(){
	    var newbie ="<li class='ui-state-defaults hdr'><p class = 'medium'></p><p id='witdent' class = 'italics ui-state-default header'>ARTICLE #<br> ARTICLE NAME</p><p class = 'hard'><ol class = 'legaLogi'></ol></li>";
	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        piece_adder.dialog("close");
	     $(".A").removeClass("A");
    });

	$("#WillP").on('click', function(){
	    var newbie ="<li class='ui-state-defaults'><p class = 'medium'></p><p class = 'italics ui-state-default'>I {Applicant.FullName}, of {Applicant.City},  {Applicant.State}, revoke my former Wills and Codicils and declare this to be my Last Will and Testament.</p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";

	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        piece_adder.dialog("close");
	     $(".A").removeClass("A");
    });
	$("#SpouseP").on('click', function()	{
	    var newbie ="<li class='ui-state-defaults'><p class = 'medium'></p><p class = 'italics ui-state-default'>I am married to {Spouse.FullName} and all references in this Will to “my spouse” are references to {Spouse.FullName}. .</p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";


	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        piece_adder.dialog("close");
	     $(".A").removeClass("A");
    });
 	$("#ChildrenP").on('click', function(){
	    var newbie ="<li class='ui-state-defaults'><p class = 'medium'></p><p class = 'italics ui-state-default'>The names of my children are {Children.FullNames}. All references in this Will to “my children” are references to the above-named children.</p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";

	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        piece_adder.dialog("close");
	     $(".A").removeClass("A");
    });
  	$("#PetL").on('click', function(){
	    var newbie ="<li class='ui-state-defaults pet'><p class = 'medium'></p><p class = 'italics ui-state-default'>-&nbsp;&nbsp; My {Pet.Type}, {Pet.Name}</p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";

	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        $("#addbox").dialog("close");
	     $(".A").removeClass("A");
    });
  	$("#PetCareL").on('click', function(){
	    var newbie ="<li class='ui-state-defaults pet'><p class = 'medium'></p><p class = 'italics ui-state-default'>Notwithstanding any other provision of this Will, I further direct that: <br> <br>A. Pet Caretaker. I give my following pet(s):<br><br></p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";

	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        $("#addbox").dialog("close");
	     $(".A").removeClass("A");
    });
  	$("#CareP").on('click', function(){
	    var newbie ="<li class='ui-state-defaults pet'><p class = 'medium'></p><p class = 'italics ui-state-default'>and other animal which may own as companion animals at the time of my death, to {Caretaker.FullName}.</p><p class = 'hard'></p><ol class = 'legaLogi'></ol></li>";

	    $(".A").parent().parent().after(newbie);
	    $('.legaLogi').hide();
        $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
        $("#addbox").dialog("close");
	     $(".A").removeClass("A");
    });
    //this function updates the DocArea (DA) when something is added
   	$( "#sortable" ).change(function() {
        $("#sortable li").on('click', '.delbut', function(event) {
    $(this).parent().parent().remove();
});
//new DPs will have classes attached to <p></p> where the buttons will be placed.
//the classes are used a targets to place the buttons then are removed
// /your current y position on the page
        $('#containment-wrapper').animate({scrollTop: '+=200'}, 1000);

$("#sortable .medium").append($(".delbut").eq(0).clone(true));
        $("#sortable .medium").append(logic_edit_box.eq(0).clone(true));
        $("#sortable .medium .logicedit").css({"float": "right"});
$(".medium").removeClass("medium");
$("#sortable .hard").append($(".addbut").eq(0).clone(true));
$(".hard").removeClass("hard");

$("#testQ").on('click', function () {

   	    $("#sortable .pet").toggleClass("ui-state-disabled");
    });
    //repeat of function of editting DP
   	  $( ".italics" ).dblclick( function() {
   	     $(this).addClass("small");
   	     var  old = $(".small").html();
         $("#swag").val(old);
      dialog.dialog( "open" );
    });

 });

            logic_edit_box.click(function (e) {
   	     $(this).addClass("Q");
   	     //$("#qbox p ol").empty();

                question_box.html($('#qList').html());
                question_box.dialog("open");
          $(this).removeClass("Q");
   	     });

            question_box.dialog({
      autoOpen: false,
			 //TODO display title DocPiece Library
      position: {
        my: "left center",
        at: "right center",
        of: ".Q",
        collision: "none"
        },
      show: {
        effect: "fade",
        duration: 500
      },
         hide: {
        effect: "fade",
        duration: 500
      },
     buttons: {
			"Done": function() {
			    //clicking the done button sends current input to the DocPiece
				//var editted = $("#qList").val();
				//$(".small").html( editted);
                // class::small is used to keep track of which DocPiece is being editted
				//$(".small").removeClass("small");
                question_box.dialog("close");
			},
			Cancel: function() {
                question_box.dialog("close");

			}
		  }
    });
   	//TODO add gen logic gates
        $("#addQ").on('click', function () {
             $("#qList").append('<li> <form action="#"> <fieldset><label for="bools">Question</label><select name="bools"><option selected="selected">Yes</option><option>No</option></select> </fieldset></form></li>');

             $("#qbox-list").empty();

             $("#qbox-list").css({"float":"none"});
        });
		 $("#qList").clone().appendTo('#qbox-list');
        //add question simulators at the top for testing
        //each DocPiece gets a set of question listeners, preset to don't care
        //when test button clicked, for each DocPiece, for each question, if test answer == DocPieceListener
        // or test answer== Don't care then show else hide
        //click test again to display all
    //this button will load a new page with the final Document generated
   	$( "#cont" ).on('click', function(event) {
        $("#cont").parent().append("<div id='sender'></div>");// insert an invisible form
		$("#sender").hide();
        // var sendy = event.target.after("<div id='sender'>  </div>");
        //   $("#sender").append($(".italics").html());

        $(".italics").not("#sortable .pet").each(function (i) {
            $(this).prepend("&nbsp; &nbsp; &nbsp; &nbsp;");
            $(this).append("<br />");
            $(this).append("<br />");
            $("#sender").append($(this).html());


        });
            var sendy = $("#sender");

            //find out how to convert sender to a text file
			//simulate file being dropped into fileststack picker
        live.hide("fade", 100, reveal);
        function reveal() {
            setTimeout(function () {
                final_page.show("fade", 2000);

            }, 10);
        }
        //  const client = filestack.init('AfEkWPbqOQYqKQt291D7dz');
     //   client.pick({}).then(function(e) {
   //           const fileUrl = result.filesUploaded[0].url;
//  link.href=fileUrl;
  //link.innerHTML=fileUrl;
       // });
    //    https://cdn.filestackcontent.com/output=format:pdf/AxnRSaLRL2fERM9C2aGk




    var progressbar = $( "#progressbar" ),
      progressLabel = $( ".progress-label" );

    progressbar.progressbar({
      value: false,
      change: function() {
        progressLabel.text( progressbar.progressbar( "value" ) + "%" );
      },
      complete: function() {
        progressLabel.text( "Complete!" );

          progressbar.before(sendy);
      $("#sender").hide();
          progressbar.hide("fade", 500);
     	$("#sender").show("fade",1000);
      }
    });

    function progress() {
      var val = progressbar.progressbar( "value" ) || 0;

      progressbar.progressbar( "value", val + 1 );

      if ( val < 99 ) {
        setTimeout( progress, 5 );
      }
    }

    setTimeout( progress, 2000 );
  });

//		$('#fpButton').click(function() {
//  filepicker.setKey("AfEkWPbqOQYqKQt291D7dz");
//  filepicker.pick({
			//      services: ['COMPUTER'],
//      mimetypes: ['application/pdf']
			//    },
//    function(Blob) {
//      console.log(Blob.url);
//      addL//ink(Blob);
//      addLink2(Blob);
//      addLink3(Blob);
//    }
//  );
//});
//
//		client.preview('ko0fdJ2Sy2iDnvCuFqjw', { id: 'previewId'});
//
//function addLink(data) {
//  $("#results")
			//    .append(
			//      '<a target="_blank" href="' +
//      data.url + '">' + data.filename + '</a>'
			//    );
//}
//
//function addLink2(data) {
//  $("#results2").append('<img target="_blank" src="' +
			//    'https://process.filestackapi.com/output=format:jpg/resize=w:200/' + data.url.substr(data.url.lastIndexOf("/")+1) + '">'
			//  );
//}
//
//function addLink3(data) {
//  $('#results3').load('https://process.filestackapi.com/output=docinfo:true/' + data.url.substr(data.url.lastIndexOf("/")+1) + '');
//}
//
	});
  </script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>

<body>

	<div class="container-fluid">
		<div class= "navigation">
      <img src="{% static 'img/LegalGenLogoBlue.png' %}" class="logo-img" alt="face">
			<div class="links">
			 		<ul class="nav nav-pills nav-stacked">
						<li><a href='/'>Dashboard</a></li>
						<li><a href='https://waylon1.typeform.com/to/m74c5U'>Report a Bug</a></li>
						<li><a href='/contact/'>Logout</a></li>
			 		</ul>
			</div>
		</div>
        <div id="final" style="display:none">
        <h1>Final Document</h1>
			<br><br><br>
                <div id="progressbar"><div class="progress-label">Loading...</div></div>

    </div>
		<div class="row">
		  	<div class="col-sm-2">
				<div id = "editor">
			 		<h1> Edit the DocPiece here: </h1>
			  		<textarea id="swag" placeholder="Balabala" rows= "15",
		  				cols= "50", autofocus>Edit your text block below.</textarea>
		  			<br>
				</div>
		  	</div>
            <div id="merge" style="display:none">
                    <h1> Merge Fields</h1>  <!-- Insert Javascipt for json -->
					<div class="appdrop"><h3 >Applicant</h3></div>
					<p class="app">Prefix </p>
					<p class="app">First Name</p>
					<p class="app">Last Name </p>
					<p class="app">Full Name </p>
					<p class="app">City </p>
					<p class="app">State </p>
					<p class="app">Children Full Name List</p>

					<div class="spousedrop"><h3 >Spouse</h3></div>
					<p class="spouse">Prefix </p>
					<p class="spouse">First Name</p>
					<p class="spouse">Last Name </p>
					<p class="spouse">Full Name </p>
					<div class="petdrop"><h3 >Pet</h3></div>
					<p class="pets"> Name </p>
					<p class="pets">Type </p>
					<p class="pets">Caretaker Name</p>
					<p class="pets">Caretaker Location </p>
					<script> $(function() {
                        $(".pets, .spouse, .app").hide();

                        $(".petdrop").on("click", function () {
                            $(".pets").toggle();
                        });
                        $(".spousedrop").on("click", function () {
                            $(".spouse").toggle();
                        });
                        $(".appdrop").on("click", function () {
                            $(".app").toggle();
                        });
                        $(".app, .spouse, .pets").on('click', function(){alert("Copied to Clipboard!");});
                    });
					</script>
				</div>
				</div>
		   	<!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
		  	</div> <!--col-sm-2-->

		  <br>
		  <div id="live" class="col-sm-10" >
              <div id="addbox" style="display:none">
					<legend>Select a DocPiece: </legend>
                  <ul class="nav nav-list">
                      <form>
                          <label></label>
                          <li><input class="search-query span10" type="text" name="suggestion" value=""
                                     id="suggestion"/></li>
                      </form>
                  </ul>
                  <div id="p_list">
                  </div>
			  </div>
              <script>
                  $(function () {
                      $('#suggestion').keyup(function () {
                          var query;
                          query = $(this).val();
                          $("#p_list").empty();
                          $.getJSON('suggest_piece/', {suggestion: query}, function (result) {
                              $.each(result, function (i, field) {
                                  $("#p_list").append("<button>" + field['name'] + "</button>");
                              });
                          });
                      });
                  });
                  // $.each(data.items, function (i, item) {
                  //
                  //     alert(item.name);
                                  //  });
                                  // $.each( data, function( key, val ) {
                                  //      alert(key, val);
                                  //      items.push( "<p id='" + key + "'>" + val + "</p>" );
                                  //  });
                                  //  $( "<ul/>", {
                                  //      "class": "my-new-list",
                                  //   html: items.join( "" )
                                  //  }).appendTo( "#p_list" );
              </script>
			  <div  id="dl"><h1>DocLogic</h1>

			   <div class='container-fluid' id="question-wrapper" >
				   <div> <ol id="qList"><li> <form action="#"> <fieldset><label for="bools">Married?</label><select name="bools"><option selected="selected">Yes</option><option>No</option></select> </fieldset></form></li>
				   <li> <form action="#"> <fieldset><label for="bools">Kids?</label><select name="bools"><option selected="selected">Yes</option><option>No</option></select>
				   </fieldset></form></li>
				   <li> <form action="#"> <fieldset><label for="bools">Pets?</label><select name="bools"><option selected="selected">Yes</option><option>No</option></select> </fieldset></form></li> </ol> </div>


            </div>
			   <div>
				<button id="addQ"> Add Question</button>
			  <button id="testQ"> Test Logic</button>
				   </div>
			  </div>
			<br/>
          <div id="qbox" title="DocPiece Library">
  <p><h1> Edit the DocLogic here: </h1><ol id="qbox-list" ></ol></p>
</div>
			<div class='container-fluid' id="containment-wrapper">
			<br><br>
			   <!-- {% block content %} -->
			   <!-- {% endblock %} -->
				<div id="sortable">
					<li class="ui-state-defaults ui-state-disabled t"><span></span><h1><b>LAST WILL AND
						TESTAMENT <br> OF <br>{Applicant.FullName}</b></h1></li>
                    <li class='ui-state-defaults'>
                    	<p>
                    		<button class="addbut"></button>
                    	</p>
                    </li>
                    <li id='del' class='ui-state-defaults' style="display:none">
                        <button class="delbut"></button>
                    </li>
                    <li id='ed' class='ui-state-defaults' style="display:none">
                        <button class="logicedit"></button>
                    </li>

				</div>
			</div>
			  <button id="cont">CONTINUE</button>
			  <div class="footer">
<div>
	<p class="social"><a href="#" target="blank">Contact</a> | <a href="#" class="fa fa-linkedin"></a> | <a href="#" class="fa fa-twitter"></a> |<a href="#" class="fa fa-google"></a> | <a href="https://jachiike-madubuko.github.io/legal_gen/">Github</a></p>
		</div>
<div id="dis">Copyright 2018 Legal Gen Incorporated. Legal Gen provides information and software only.
			Legal Gen is not a "lawyer referral service" and does not provide legal advice or participate in any legal representation. Legal Gen is not a law firm or a substitute for an attorney or law firm. Use of Legal Gen is subject to our Terms of Service and Privacy Policy.</div>
	</div>
		  </div>


</body>


</html>



