<!DOCTYPE html>
<html lang="en">

<head>
	<title>LegalGen </title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'attorney/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<style>
	#sortable, #sortable2 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable, #sortable2 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; }
  #sortable li span { position: absolute; margin-left: 4.3em; }
	</style>
	<link rel="stylesheet" type="text/css" href="django423/mysite/attorney/templates/attorney/bower_components/simditor/styles/simditor.scss" />

	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simple-module/lib/module.js"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simple-hotkeys/lib/hotkeys.js"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simple-uploader/lib/uploader.jss"></script>
	<script type="text/javascript" src="django423/mysite/attorney/templates/attorney/bower_components/simditor/lib/simditor.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		//regular sortable
   	$(function() {
		// var editor = new Simditor({
		//    textarea: $("#swag");
	 	//  });
        $("#sortable").sortable();
        $("#sortable").disableSelection();
	    $("li span").append("<button> delete </button>");

	    $("li span").on("click", function(event) {
            alert("YOU ARE DELETING A WHOLE PARA-GIRAFFES");
	        $(this).parent().remove();
        });

       dialog = $( "#editor" ).dialog({
		  autoOpen: false,
		  height: 400,
		  width: 350,
		  modal: true,
		  buttons: {
			"Done": function() {
				var editted = $("#swag").val();
				$(".small").html(editted);
				$(".small").removeClass("small");
				dialog.dialog( "close" );
			},
			Cancel: function() {
			  dialog.dialog( "close" );

			}
		  }
    });




  // Initializes all textareas with the tinymce class
 $( "li p" ).on( "click", function() {
	 var old = $(this).html();
	 $("#swag").text(old);
	 $(this).addClass("small");
      dialog.dialog( "open" );
    });

$("#add").on("click", function(){
            var newbie = "<li class='sortable' class='ui-state-default'> <span><button> delete </button>New Item </span> </li>";
            $("#sortable").children().eq(0).before(newbie);
        });
 //end of reg sortable
 });

  </script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'attorney/img/scale.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <center>
				  <h1>LegalGen</h1>
				  </center>
			  </div>
		</div><hr>

		<div class="row">
		  <div class="col-sm-2">
		  <br>
			 <div id = "editor" title = "Editor">
			  <p> Edit the DocPiece here</p>
			  <textarea id="swag" placeholder="Balabala" autofocus>Edit here</textarea>
			 </div>
		  </div>
		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">

			<div class='container-fluid'>
			<button id="add"> add</button>

			<br><br>
			   {% block content %}
			   {% endblock %}
				<ul id="sortable">
					<li class="ui-state-default"><span></span><p>Item 1</p></li>
					<li class="ui-state-default ui-state-disabled"><span></span><p>Item 2</p></li>
					<li class="ui-state-default"><span></span><p>Item 3</p></li>
					<li class="ui-state-default ui-state-disabled"><span></span><p>Item 4</p></li>
					<li class="ui-state-default"><span></span><p>Item 5</p></li>
					<li class="ui-state-default"><span></span><p>Item 6</p></li>
					<li class="ui-state-default"><span></span><p>Item 7</p></li>
				</ul>
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>
Copyright 2018

<head>
	<title>LegalGen</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'attorney/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>