<!DOCTYPE html>
<html lang="en">

<head>
	<title>LegalGen </title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'attorney/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<style>
    /* css for the Document Area */
	#sortable, #sortable2 { list-style-type: none; margin: 0; padding: 0; width: 90%;}
    #sortable, #sortable2 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px;}
	#containment-wrapper { margin: 0 auto; width: 65%; height:1500px; padding: 10px; box-shadow: 1px 1px 30px #ddd;}
	.italics {border: 3px solid #4698FF; padding: 20px; border-radius: 10px; font-size: .8em;}
	</style>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
   	$(function() {
   	    $("#del").hide();
        $("#editor").hide();  //keeps the editor out of site until a DocPiece(DP) is clicked
                                //will eventually be a django front live editor.
		//this defines the characteristic of the draggable blocks
        $( ".ui-state-defaults").draggable({axis: "y", containment: "#containment-wrapper", scroll: false, scrollSensitivity: 100
        });

        //this defines characteristics of the sort area
        $("#sortable").sortable({
      revert: false
    });
        $("#sortable").disableSelection();

        // this defines the characteristics of the dialog box for editting
        //will be abstracted into a django front end editor in future
       var dialog = $( "#editor" ).dialog({
		  autoOpen: false,
		  height: 500,
		  width: 500,
		  modal: true,
		  buttons: {
			"Done": function() {        //clicking the done button sends current input to the DocPiece
				var editted = $("#swag").val();
				$(".small").html( editted);      //class::small is used to keep track of which DocPiece is being editted
				$(".small").removeClass("small");
				dialog.dialog( "close" );
			},
			Cancel: function() {
			  dialog.dialog( "close" );

			}
		  }
    });




  // Initializes all textareas with the tinymce class
   	 $( ".italics" ).dblclick( function() { //class::italics given to the DP to make editable
   	     $(this).addClass("small");         //class::small tracking which DP is being updated
   	     var  old = $(".small").html();
         $("#swag").val(old);
      dialog.dialog( "open" );
    });

   	 //functionality of delete button
$("#sortable li").on('click', '.delbut', function(event) {
    $(this).parent().parent().remove();
});

//adds a delete button to each DP

//functionality for the add button. Will be generalized for all DPs
$(".addbut").on("click", function(){ //TODO add a dialog box that asks which DP is being added
    //newbie will be changed to be content based on the type of DP selected by user
            var newbie ="<li class='ui-state-defaults'><p class = 'medium'></p><p class = 'italics class='ui-state-default'>Now this is a story all about how my life got flipped turned upside down And I'd like to take a minute, just sit right there I'll tell you how I became the prince of a town called Bel-Air.</p><p class = 'hard'></p></li>";
           $(this).parent().parent().after(newbie);
            $( "#sortable" ).change(); //updates the doc and adds buttons to new DPs
            $('html, body').animate({       //scrolls down to newly added DP
                scrollTop: $(this).parent().parent().next().offset().top
            }, 1000);
        });
    //this function updates the DocArea (DA) when something is added
   	$( "#sortable" ).change(function() {
        $("#sortable li").on('click', '.delbut', function(event) {
    $(this).parent().parent().remove();
});
//new DPs will have classes attached to <p></p> where the buttons will be placed.
//the classes are used a targets to place the buttons then are removed
$("#sortable .medium").append($(".delbut").eq(0).clone(true));
$(".medium").removeClass("medium");
$("#sortable .hard").append($(".addbut").eq(0).clone(true));
$(".hard").removeClass("hard");
    //repeat of function of editting DP
   	  $( ".italics" ).dblclick( function() {
   	     $(this).addClass("small");
   	     var  old = $(".small").html();
         $("#swag").val(old);
      dialog.dialog( "open" );
    });
   	 });
    //this button will load a new page with the final Document generated
   	$( "#cont" ).on('click', function() {
        var todo = '<p id="TODO"> todo </p>';
        window.location.href = 'basic.html';
    });
 });
  </script>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>

<body class="body" style="background-color: white">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src= 'scale.png' class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
			  <div class="col-sm-10">
				  <center>
				  <h1>LegalGen</h1>
				  </center>
			  </div>
		</div><hr>
		<div class="row">
		  <div class="col-sm-2">
		  <br>
			 <div id = "editor" title = "DocPiece Editor">
			  <p> Edit the DocPiece here</p>
			  <textarea id="swag" placeholder="Balabala" rows= "15",
		  cols= "50", autofocus>Edit here</textarea>
			 </div>
		  </div>
		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color: purple">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10" id="containment-wrapper">

			<div class='container-fluid' style ="background-color: grey">

			<br><br>
			   {% block content %}
			   {% endblock %}
				<ul id="sortable" style ="background-color: green">
					<li class="ui-state-defaults ui-state-disabled"><span></span><p>Header</p></li>
					<li id="logo" class="ui-state-defaults ui-state-disabled"><span></span><p>Logo</p></li>
                    <li class='ui-state-defaults'><p><button style="width:820px" class="addbut"> add</button></p></li>
                    <li id='del' class='ui-state-defaults'> <button class ="delbut"> delete </button></li>
                    <li class='ui-state-defaults'><p><button class ="delbut"> delete </button></p><p class = 'italics'>Now this is a story all about how my life got flipped turned upside down and I'd like to take a minute, just sit right there I'll tell you how I became the prince of a town called Bel-Air.</p><p><button style="width:820px" class="addbut"> add</button></p>
                    </li>
				</ul>
			</div>
		  </div>
        <button id="cont">Continue</button>
		</div>
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px; background-color: pink;'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>
Copyright 2018

<head>
	<title>LegalGen</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'attorney/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>